*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(80deg, rgba(5, 124, 172), rgba(199, 10, 114));
    min-width: 100vh;
}
.container{
    width: 50vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 20px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(30,30,200,0.3);
}
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 14s linear infinite;
}
img{
    width: 100%;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    15%{
        transform: translateX(-100%);
    }
    25%{
        transform: translateX(-200%);
    }
    35%{
        transform: translateX(-300%);
    }
    45%{
        transform: translateX(-400%);
    }
    55%{
        transform: translateX(-500%);
    }
    65%{
        transform: translateX(-600%);
    }
    75%{
        transform: translateX(-700%);
    }
    85%{
        transform: translateX(-800%);
    }  
    100%{
        transform: translateX(-800%);
    }
}   

/* .container2{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubble{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin:     0 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px  #4fc3dc44,
    0 0 50px  #4fc3dc,
    0 0 100px  #4fc3dc;
    animation: animate 120s linear infinite;
    animation-duration: calc(100s/var(--i));
}

.bubble:nth-child(even){
    background: #dacfd3;
    box-shadow: 0 0 0 10px  #ff2d7544,
    0 0 50px  #ff2d75,
    0 0 100px  #ff2d75;
}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
        
    }
    100%{
        transform: translateY(-10vh) scale(1);
        
    }
} */

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(80deg, rgba(5, 124, 172), rgba(199, 10, 114));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(30,30,200,0.3);
    z-index: 1000;
}
.nav next{
    z-index: 1000; 
}